<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>Social Media</title>
    <link rel="icon" href="{% static 'images/fav.png'%}" type="image/png" sizes="16x16"> 
    
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/color.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

</head>
<body>
    {% if user.is_authenticated %}
    <div class="theme-layout">
	
        <div class="responsive-header">
            <div class="mh-head first Sticky">
                <span class="mh-btns-left">
                    <a class="" href="#menu"><i class="fa fa-align-justify"></i></a>
                </span>
                <span class="mh-text">
                    <a href="" title=""><img src="{% static 'images/logo2.png' %}" alt=""></a>
                </span>
    
            </div>
            <div class="mh-head second">
                <form class="mh-form">
                    <input placeholder="search" />
                    <a href="#/" class="fa fa-search"></a>
                </form>
            </div>
            <nav id="menu" class="res-menu">
                <ul>
                    <li><a href="home">HOME</a>
    
                    <li><span>Time Line</span>
    
                    </li>
                    <li><span>Account Setting</span>
                        
                    
    
                    </li>
                    
                
                </ul>
            </nav>
            
        </div><!-- responsive header -->
        
        <div class="topbar stick">
            <div class="logo">
                <a title="" href=""><img src="images/logo.png" alt=""></a>
            </div>
            
            <div class="top-area">
                <ul class="main-menu">
                    <li >
                        
                        <a href="{% url 'profile' user.profile.id %}" title="" style="color: #5a3693; font-weight: bold;">{{user.profile.name}}</a>
                      
    
                    </li>
                    <li>
                        <a href="{% url 'home' %}" title="">Home</a>
    
                    </li>
                    <li>
                        <a href="{% url 'logout' %}" title="">Logout</a>
    
                    </li>
                    <li>
                        <a href="{% url 'edit_profile' %}" title="">account settings</a>
    
                    </li>
                    <li>
                        <a href="{% url 'request_list' %}" title="">Friend Request </a>
    
                    </li>
    
                </ul>
                <ul class="setting-area">
                    <li>
                        
                        <div class="searched">
                            
                            <form method="post" class="search">
                                {% csrf_token %}
                                <input type="text" placeholder="Search Friend">
                                <button type="button" data-ripple><i class="ti-search"></i></button>
                            </form>
                        </div>
                    </li>
                    
                    
                    
                </ul>
                <div class="user-img">
                    <a href=""><img src="{{user.profile.profilepic.url}}" style="max-width: 44px; border-radius: 50%;;"  alt=""></a>
                    <span class="status f-online"></span>
                   
                </div>
            
            </div>
        </div><!-- topbar -->
        {% endif %}